@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Nunito', sans-serif;
}

.farm {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.farm__notification {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	display: none;
}

.farm__bg {
	background-image: url('../img/01.06.2022/grass.png');
	background-repeat: repeat;
	background-size: 55%;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.farm__building {
	position: relative;
	background-image: url('../img/01.06.2022/road.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 1279px;
	height: 640px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.4);
	z-index: 2;
}

@media (min-width: 1440px) {
	.farm__building {
		transform: translate(-50%, -50%) scale(0.6);
	}
}

.farm__garden {
	position: absolute;
	width: 328px;
	height: 211px;
	top: 40px;
	left: 45px;
}

.farm__garden-items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -23px;
    left: -29px;
}

.farm__garden-item {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 108px;
	height: 80px;
}

.farm__garden-item:nth-child(1) {
	top: 49px;
	left: -13px;
	z-index: 3;
}

.farm__garden-item:nth-child(2) {
	top: 7px;
	left: 57px;
	z-index: 2;
}

.farm__garden-item:nth-child(3) {
	top: -33px;
	left: 129px;
	z-index: 1;
}

.farm__garden-item:nth-child(4) {
	top: 87px;
	left: 54px;
	z-index: 6;
}

.farm__garden-item:nth-child(5) {
	top: 47px;
	left: 126px;
	z-index: 5;
}

.farm__garden-item:nth-child(6) {
	top: 6px;
    left: 197px;
	z-index: 4;
}

.farm__garden-item:nth-child(7) {
	top: 126px;
    left: 120px;
	z-index: 9;
}

.farm__garden-item:nth-child(8) {
	top: 86px;
    left: 190px;
	z-index: 8;
}

.farm__garden-item:last-child {
	top: 45px;
    left: 261px;
	z-index: 7;
}

.garden-empty {
	background-image: url('../img/Здания/Огород/Огород плитка невспаханное поле.png');
	transform: scale(1) translate(0px, 0px);
}

.garden-empty:hover {
	background-image: url('../img/Здания/Огород/Огород плитка невспаханное поле наведение.png');
	transform: scale(1.24) translate(0px, 0px);
}

.garden-plowed {
	background-image: url('../img/Здания/Огород/Огород плитка вспаханное поле.png');
}

.garden-plowed:hover {
	background-image: url('../img/Здания/Огород/Огород плитка вспаханное поле наведение.png');
	transform: scale(1.24) translate(0px, 0px);
}

.garden-landed {
	background-image: url('../img/Здания/Огород/Огород плитка только высажен урожай.png');
}

.garden-landed:hover {
	background-image: url('../img/Здания/Огород/Огород плитка только высажен урожай наведение.png');
	transform: scale(1.24) translate(0px, 0px);
}

.garden-pea-grown {
	background-image: url('../img/Здания/Огород/Огород плитка горох подрос.png');
}

.garden-pea-grown:hover {
	background-image: url('../img/Здания/Огород/Огород плитка горох подрос наведение.png');
	transform: scale(1.26) translate(0px, 2px);
}

.garden-pea-ripe {
	background-image: url('../img/Здания/Огород/Огород плитка горох созрел.png');
	height: 83px;
	transform: scale(1) translate(-3px, -6px);
}

.garden-pea-ripe:hover {
	background-image: url('../img/Здания/Огород/Огород плитка горох созрел наведение.png');
	transform: scale(1.26) translate(-2px, 1px);
}

.garden-potato-grown {
	background-image: url('../img/Здания/Огород/Огород плитка картофель подрос.png');
	height: 90px;
	transform: scale(1) translate(-2px, -16px);
}

.garden-potato-grown:hover {
	background-image: url('../img/Здания/Огород/Огород плитка картофель подрос наведение.png');
	transform: scale(1.21) translate(0px, -8px);
}

.garden-potato-ripe {
	background-image: url('../img/Здания/Огород/Огород плитка картофель созрел.png');
}

.garden-potato-ripe:hover {
	background-image: url('../img/Здания/Огород/Огород плитка картофель созрел наведение.png');
	transform: scale(1.26) translate(0px, 0px);
}

.garden-wheat-grown {
	background-image: url('../img/Здания/Огород/Огород плитка пшеница подросла.png');
	transform: scale(1) translate(-1px, 0px);
}

.garden-wheat-grown:hover {
	background-image: url('../img/Здания/Огород/Огород плитка пшеница подросла наведение.png');
	transform: scale(1.26) translate(-1px, 0px);
}

.garden-wheat-ripe {
	background-image: url('../img/Здания/Огород/Огород плитка пшеница созрела.png');
	height: 90px;
	transform: scale(1) translate(-2px, -16px);
}

.garden-wheat-ripe:hover {
	background-image: url('../img/Здания/Огород/Огород плитка пшеница созрела наведение.png');
	transform: scale(1.21) translate(-1.5px, -7.5px);
}

.farm__garden-fertilizer, .farm__garden-water, .farm__garden-dig {
	position: absolute;
	right: 50px;
	top: 37px;
	max-width: 40px;
}

.farm__barn {
	position: absolute;
	background-image: url('../img/Здания/Амбар.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 292px;
	height: 298px;
	top: -5px;
	left: 470px;
	cursor: pointer;
}

.farm__barn:hover {
	background-image: url('../img/Здания/Амбар наведение.png');
	transform: scale(1.24) translate(-4px, -1px);
}

.farm__house {
	position: absolute;
	background-image: url('../img/Здания/Дом фермера.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 340px;
	height: 328px;
	top: -10px;
	right: 90px;
	cursor: pointer;
}

.farm__house:hover {
	background-image: url('../img/Здания/Дом фермера наведение.png');
	transform: scale(1.25) translate(-1px, 0px);
}

.farm__greenhouse {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 227px;
	height: 177px;
	top: 235px;
	left: 5px;
	cursor: pointer;
}

.farm__greenhouse:hover {
	transform: scale(1.25) translate(-3px, -3px);
}

.greenhouse-empty {
	background-image: url('../img/Здания/Теплица/Теплица.png');
}

.greenhouse-empty:hover {
	background-image: url('../img/Здания/Теплица/Теплица наведение.png');
}

.greenhouse-cucumbers-grown {
	background-image: url('../img/Здания/Теплица/Теплица огурцы подросли.png');
}

.greenhouse-cucumbers-grown:hover {
	background-image: url('../img/Здания/Теплица/Теплица огурцы подросли наведение.png');
}

.greenhouse-cucumbers-ripe {
	background-image: url('../img/Здания/Теплица/Теплица огурцы созрели.png');
}

.greenhouse-cucumbers-ripe:hover {
	background-image: url('../img/Здания/Теплица/Теплица огурцы созрели наведение.png');
}

.greenhouse-tomatoes-grown {
	background-image: url('../img/Здания/Теплица/Теплица помидоры подросли.png');
}

.greenhouse-tomatoes-grown:hover {
	background-image: url('../img/Здания/Теплица/Теплица помидоры подросли наведение.png');
}

.greenhouse-tomatoes-ripe {
	background-image: url('../img/Здания/Теплица/Теплица помидоры созрели.png');
}

.greenhouse-tomatoes-ripe:hover {
	background-image: url('../img/Здания/Теплица/Теплица помидоры созрели наведение.png');
}

.farm__coop {
	position: absolute;
	background-image: url('../img/Здания/Курятник.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 216px;
	height: 212px;
	bottom: 33px;
	left: 127px;
	cursor: pointer;
}

.farm__coop:hover {
	background-image: url('../img/Здания/Курятник наведение.png');
	transform: scale(1.2) translate(-3px, -1px);
}

.farm__pigsty {
	position: absolute;
	background-image: url('../img/Здания/Свинарник.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 382px;
	height: 291px;
	bottom: -7px;
	right: 480px;
	cursor: pointer;
}

.farm__pigsty:hover {
	background-image: url('../img/Здания/Свинарник наведение.png');
	transform: scale(1.26) translate(1px, -4px);
}

.farm__stock {
	position: absolute;
	background-image: url('../img/Здания/Склад.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 256px;
	height: 252px;
	bottom: 10px;
	right: 120px;
	cursor: pointer;
}

.farm__stock:hover {
	background-image: url('../img/Здания/Склад наведение.png');
	transform: scale(1.23) translate(-3px, 0px);
}
