@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Nunito', sans-serif;
}

.game {
	background-image: url('../img/01.06.2022/Фон.jpg');
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: repeat;
	background-size: 175%;
	background-position: center;
	color: white;
	overflow: hidden;
}

.game__content {
	display: flex;
	justify-content: space-between;
	padding: 60px;
	align-items: flex-start;
}

@media (max-width: 1440px) {
	.game__content {
		padding: 40px;
	}	
}

@media (max-width: 925px) {
	.game__content {
		padding: 20px;
	}	
}

.game__nav {
	width: 310px;
}

@media (max-width: 1440px) {
	.game__nav {
		width: 205px;
	}
}

@media (max-width: 925px) {
	.game__nav {
		width: 165px;
	}	
}

.game__nav-item {
	padding: 10px;
	list-style: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 16px;
	width: 100%;
	position: relative;
	z-index: 3;
}

.game__nav-locked {
	cursor: default;
	opacity: 0.5;
}

@media (max-width: 1440px) {
	.game__nav-item {
		margin-bottom: 7px;
	}	
}

.game__nav-icon {
	background: #C9DEF2;
	box-shadow: -1px -3px 3px rgba(42, 108, 171, 0.3), inset 1px 3px 7px rgba(64, 141, 215, 0.5);
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 20px;
}

@media (max-width: 1440px) {
	.game__nav-icon {
		width: 40px;
		height: 40px;
		border-radius: 15px;
	}
}

@media (max-width: 925px) {
	.game__nav-icon {
		width: 35px;
		height: 35px;
		border-radius: 10px;
	}	
}

.game__nav-icon img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 1440px) {
	.game__nav-icon img {
		width: 55%;
	}
}

@media (max-width: 925px) {
	.game__nav-icon img {
		width: 80%;
	}	
}

.game__nav-title {
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
	margin-left: 15px;
	font-weight: 900;
}

@media (max-width: 1440px) {
	.game__nav-title {
		font-size: 20px;
	}	
}

@media (max-width: 925px) {
	.game__nav-title {
		font-size: 17px;
	}	
}

.game__resources {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-weight: 900;
	font-size: 16px;
	line-height: 22px;
	min-width: 330px;
	position: relative;
	z-index: 3;
}

@media (max-width: 925px) {
	.game__resources {
		width: 300px;
		font-size: 14px;
	}	
}

.game__level {
	width: 100%;
	margin-bottom: 28px;
	position: relative;
}

@media (max-width: 925px) {
	.game__level {
		margin-bottom: 15px;
	}	
}

.game__resource-number {
	padding: 9px 0;
	margin-left: 50%;
	display: inline-block;
	transform: translateX(-50%);
	z-index: 2;
	position: relative;
	white-space: nowrap;
}

@media (max-width: 1440px) {
	.game__resource-number {
		padding: 5px 0;
	}
}

@media (max-width: 925px) {
	.game__resource-number {
		padding: 1px 0;
	}	
}

.game__level-star {
	position: absolute;
	left: -30px;
	top: -25px;
	font-weight: 900;
	font-size: 20px;
	line-height: 27px;
    text-shadow: 0 0 2px #C57600;
    z-index: 1;
    text-align: center;
    min-width: 25px;
    min-height: 25px;
    padding: 35px 26px 26px 26px;

    background-image: url('../img/Иконки/star.png');
    background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.game__level-mark {
	position: absolute;
	height: 100%;
	width: 30%;
	background: #FFBF00;
	border: 1px solid #DB8300;
	box-shadow: inset 1px 3px 7px rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	top: 0;
	left: 0;
	z-index: 0;
}

@media (max-width: 1440px) {
	.game__level-star {
		left: -30px;
		top: -30px;
	}
}

@media (max-width: 925px) {
	.game__level-star {
		font-size: 17px;
		padding: 25px 16px 16px 16px;
		top: -25px;
		left: -20px;
	}	
}

.game__resource {
	width: 47%;
	position: relative;
}

.game__resource-img {
	position: absolute;
}

.coin {
	top: -10px;
	left: -8px;
}

@media (max-width: 1440px) {
	.coin {
		width: 38px;
		top: -7px;
	}
}

@media (max-width: 925px) {
	.coin {
		width: 28px;
		top: -1px;
	}	
}

.diamond {
	top: -8px;
	left: -13px;
}

@media (max-width: 1440px) {
	.diamond {
		width: 47px;
		top: -7px;
	}
}

@media (max-width: 925px) {
	.diamond {
		width: 37px;
		top: -2px;
	}	
}

.game__resource-btn {
	position: absolute;
	right: 0;
	top: 0;
	background: #FFBF00;
	border: 1px solid #DB8300;
	box-shadow: inset 1px 3px 7px rgba(255, 255, 255, 0.5);
	border-radius: 100%;
	width: 40px;
	height: 100%;
	background-image: url('../img/Иконки/plus.svg');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

@media (max-width: 1440px) {
	.game__resource-btn {
		width: 33px;
	}
}

@media (max-width: 925px) {
	.game__resource-btn {
		width: 24px;
		background-size: 15px;
	}
}

.game__dialog {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	bottom: 60px;
	z-index: 4;
}

@media (max-width: 1440px) {
	.game__dialog {
		bottom: 40px;
	}
}

.game__dialog-avatar {
	box-shadow: 0px 0px 30px rgba(135, 82, 64, 0.3);
	border-radius: 100%;
	display: inline-block;
	margin-right: 19px;
}

@media (max-width: 1440px) {
	.game__dialog-avatar {
		width: 126px;
	}
}

@media (max-width: 925px) {
	.game__dialog-avatar {
		width: 116px;
	}
}

.game__dialog-text {
	background: #FCEAC8;
	color: #875240;
	box-shadow: 0px 0px 30px rgba(135, 82, 64, 0.3), inset 5px 5px 5px rgba(252, 234, 200, 0.5);
	margin-left: 19px;
	border-radius: 20px;
	position: relative;
	min-height: 50px;
	min-width: 400px;
}

.game__dialog-text::before {
	content: '';
	background-image: url('../img/01.06.2022/dialog.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 45px;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
	left: -20px;
}

@media (max-width: 1440px) {
	.game__dialog-text {
		font-size: 18px;
		line-height: 26px;
	}
}

.game__dialog-text span {
	margin: 40px;
	display: inline-block;
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
}

@media (max-width: 1440px) {
	.game__dialog-text span {
		margin: 20px;
		font-size: 22px;
		line-height: 30px;
	}
}

@media (max-width: 925px) {
	.game__dialog-text span {
		margin: 15px;
		font-size: 18px;
		line-height: 25px;
	}
}

.plashka {
	background: #F2D297;
	box-shadow: 0px 0px 30px rgba(135, 82, 64, 0.3), inset 5px 5px 5px rgba(252, 234, 200, 0.5);
	border-radius: 50px;
	color: #875240;
}

.big-plashka {
	top: 0;
	bottom: 0;
	padding: 30px 15px;
}

.bottom__plashka {
	border-radius: 50px 50px 0 0;
	padding: 30px 15px 0 15px;
}

.inner-plashka {
	background: #FCEAC8;
	box-shadow: -2px -5px 4px rgba(135, 82, 64, 0.3), inset 2px 4px 15px rgba(167, 115, 97, 0.5);
	border-radius: 40px;
}

::-webkit-scrollbar { /* 1 - скроллбар */
    width: 15px;
    background-color: transparent;
}

::-webkit-scrollbar-button { /* 2 - кнопка */
  	display: none;
}

::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 2px;
    background-color: #F2D297;
    border: 1px solid #D3AD7E;
    box-shadow: 
    /*2px 3px 4px rgba(101, 40, 20, 0.2), */
    inset -2px -2px 3px rgba(135, 82, 64, 0.3), 
    inset 3px 2px 3px rgba(252, 234, 200, 0.5);
    border-radius: 10px;
    max-height: 10px;
}

.bottom__plashka .inner-plashka {
	border-radius: 40px 40px 0 0;
	padding: 40px 10px 0 30px;
	min-width: 978px;
	height: 400px;
}

.plashka-items {
	max-height: 400px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	overflow-y: scroll;
	overflow-x: hidden;
}

.game__profile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	z-index: 2;
}

@media (max-width: 1440px) {
	.game__profile {
		transform: scale(0.7) translate(-50%, -50%);
		top: 33%;
		left: 42%;
	}
}

.plashka-cross {
	position: absolute;
	right: 15px;
	top: 50%;
	width: 38px;
	height: 39px;
	transform: translateY(-50%);
	cursor: pointer;
}

.plashka-cross img {
	width: 100%;
}

.game__profile-inner {
	padding: 20px 30px 30px 30px;
}

.plashka-offer {
	font-weight: 900;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
}

.plashka-top {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.game__profile-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 33px;
}

.game__profile-name-and-level {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.profile-small-star img {
	width: 30px;
}
.profile-small-awards img {
	width: 26px;
}

.game__profile-item {
	display: flex;
	align-items: center;
	margin-bottom: 11px;
}

.game__profile-name {
	display: flex;
	align-items: center;
	position: relative;
	width: 226px;
}

.game__profile-input {
	width: 100%;
	background: #F2D297;
	border-radius: 30px;
	font-weight: 900;
	font-size: 16px;
	line-height: 22px;
	color: #875240;
	outline: none;
	border: none;
	padding: 8px 15px 10px;
}

.game__profile-name-btn {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #FFC61A;
	border: 1px solid #DB8300;
	border-radius: 100%;
	width: 40px;
	height: 100%;
	background-image: url('../img/Иконки/pen.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.game__profile-btn {
	margin-bottom: 5px;
	padding: 9px;
	font-weight: 900;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
	display: block;
}

.game__profile-btns {
	margin-top: 27px;
}

.game__profile-img {
	margin: 0 5px;
}

.game__profile-bottom {
	margin-top: 30px;
	margin-left: 37px;
	margin-bottom: -10px;
}

.game__profile-bottom-item {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}

.plashka-bold {
	font-weight: 900;
	font-size: 20px;
	line-height: 27px;
	margin: 0 5px;
	white-space: nowrap;
}

.plashka-regular {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	margin: 0 5px;
}

.game__rating {
	margin: 10px 5px;
}

.fertilizer, .seeds, .barn, .birds, .animal {
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 1440px) {
	.fertilizer, .seeds, .barn, .birds, .animal {
		left: 50%;
		transform: scale(0.48) translateX(-108%);
	}

	.fertilizer, .seeds{
		bottom: -149.5px;
	}
	.barn {
		bottom: -184px;
	}
	.birds, .animal {
		bottom: -169px;
	}
}

.fertilizer__items {
	margin: -10px;
}

.fertilizer__item {
	width: 17%;
	min-height: 222px;
	padding-top: 31px;
}

.fertilizer__img {
	margin-bottom: 10px;
}

.fertilizer__time {
	margin-bottom: 19px;
	font-weight: 800;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 48px;
}

.seeds__item {
	min-height: 262px;
	width: 17.9%;
	padding: 5px;
}

.seeds__img {
	width: 96px;
	height: 96px;
	margin: 0 auto;
	margin-top: 15px;
}

.seeds__img img {
	object-fit: contain;
}

.seeds__title {
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
}

.seeds__barn {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
}

@media (max-width: 1440px) {
	.seeds__barn {
		font-size: 20px;
		line-height: 26px;
	}
}

.seeds__time {
	font-weight: 800;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 59px;
}

.barn__occupancy {
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	position: relative;
}

.barn .plashka-top {
	margin-bottom: 0;
}

.barn__offer {
	margin-bottom: 0;
}

.barn__item {
	text-align: center;
	margin: 0 20px 38px 20px;
}

.barn__item-img {
	width: 94px;
	height: 95px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.barn__item-title {
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	color: #875240;
}

.birds .plashka-top {
	display: flex;
	align-items: center;
	justify-content: center;
}

.animal__card-inner {
	background-image: url('../img/01.06.2022/animal-bg.png');
}

.add-animal .animal__card-inner {
	background-image: none;
}

.add-animal .animal__card-inner:before {
	content: '';
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/01.06.2022/animal-bg.png');
	opacity: 0.5;
}

.add-animal .birds__card-inner:before {
	content: '';
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/01.06.2022/birds-bg.png');
	opacity: 0.5;
}

.animal__card-inner::after {
	content: '';
	position: absolute;
	background-image: url('../img/01.06.2022/fence.png');
	width: 90%;
	height: 63px;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.animal__img {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.add-animal .animal__img, .add-animal .birds__img {
	bottom: 50%;
	transform: translate(-50%, 50%);
	opacity: 1;
}

.animal__cost-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
	padding: 5px 0 2px 0;
	opacity: 1;
}

.birds__card-inner {
	background-image: url('../img/01.06.2022/birds-bg.png');
}

.birds__card-inner::after {
	display: none;
}

.birds__img {
	position: absolute;
	bottom: 17px;
	left: 50%;
	transform: translateX(-50%);
}

.birds__items, .animal__items {
	margin: 0 -15px;
}

.animal-item {
	position: relative;
	width: 21.98%;
	margin: 0 15px 30px 15px;
}

.animal__card {
	padding: 10px;
	background-color: #F2D297;
	border-radius: 20px;
	position: relative;
}

.add-animal .animal__card {
	background-color: rgba(242, 210, 151, 0.5);
}

.animal__card-inner {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 202px;
	position: relative;
	border-radius: 20px;
}

.animal-level {
	font-weight: 900;
	font-size: 20px;
	line-height: 27px;
	position: relative;
	padding: 7px 20px;
	width: 40%;
}

.animal-level-btn {
	position: absolute;
	right: 0;
	top: 0;
	background: #FFBF00;
	border: 1px solid #DB8300;
	box-shadow: inset 1px 3px 7px rgba(255, 255, 255, 0.5);
	border-radius: 100%;
	width: 40px;
	height: 100%;
	background-image: url('../img/Иконки/plus.svg');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.plashka-slaughter-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 58px;
	height: 58px;
	background-repeat: no-repeat;
	background-color: #FFBF00;
	border: 1px solid #DB8300;
	box-shadow: inset 3px 4px 4px rgba(255, 255, 255, 0.25);
	background-image: url('../img/01.06.2022/axe.png');
	border-radius: 100%;
	background-position: 13px 12px;
	cursor: pointer;
}

.animal__under {
	text-align: center;
	margin-top: 5px;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.animal__under-btn {
	background: #FFBF00;
	border: 1px solid #DB8300;
	box-shadow: inset 1px 3px 7px rgba(255, 255, 255, 0.5);
	border-radius: 100%;
	width: 30px;
	height: 30px;
	background-image: url('../img/Иконки/plus.svg');
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 10px;
}

.action {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 86px;
	height: 74px;
}

.animal__action {
	height: 97px;
}

.action-img {
	position: absolute;
	bottom: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.prompt-hover:hover .prompt-text{
	display: block;
}

.prompt-text {
	font-weight: 900;
	font-size: 14px;
	line-height: 19px;
	padding: 9px 15px;
	background: #F2D297;
	border: 1px solid #875240;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 6;
	white-space: nowrap;
	display: none;
	user-select: none;
	cursor: default;
	color: #875240;
}

@media (max-width: 1440px) {
	.prompt-text {
		font-size: 19px;
		line-height: 24px;
	}
}

.animal-item:nth-child(4n) .prompt-text {
	left: auto !important;
	right: 60px;
}

.plant-item {
	background: #F2D297;
	border-radius: 20px;
	position: relative;
	text-align: center;
	margin: 10px;
	box-sizing: border-box;
}

.additional-plashka {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 7;
	min-width: 253px;
}

.additional-plashka .plashka-cross{
	width: 20px;
	height: 20px;
	top: 12px;
	right: 12px;
	transform: translateY(0);
}

.additional__offer {
	margin-bottom: 15px;
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
}

.additional-plashka .plashka {
	padding: 30px;
	border-radius: 20px;
}

.info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 6;
	min-width: 600px;
}

@media (max-width: 1440px) {
	.info {
		transform: scale(0.7) translate(-50%, -50%);
		top: 38%;
		left: 42%;
	}
}

.info__plashka {
	padding: 30px 15px;
	border-radius: 50px !important;
}

.info__offer {
	font-weight: 900;
	font-size: 36px;
	line-height: 49px;
}

.info__cross {
	width: 30px !important;
	height: 30px !important;
}

.info__top {
	margin-bottom: 24px;
}

.info__inner {
	padding: 20px 24px 15px 24px;
	background: #FFE5B4;
}

.info__inner-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.info__inner-top img {
	max-width: 106px;
}

.info__desc {
	max-width: 353px;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	margin-left: 50px;
}

.info__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #875240;
	padding: 10px 0;
}

.info__item:last-child {
	border: none;
}

.info__item-title {
	font-weight: 900;
	font-size: 20px;
	line-height: 27px;
}

.info__item-desc {
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	display: flex;
	align-items: center;
}

.info__item-desc img {
	max-width: 37px;
	max-height: 29px;
	margin-right: 7px;
}

.info__under {
	display: flex;
	justify-content: space-around;
	margin-right: 50px;
}

.info__under-item {
	margin-top: 26px;
}

.info__under-offer {
	font-weight: 900;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 14px;
}

.info__under-desc {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
}

.info__under-desc img {
	margin-right: 7px;
	max-width: 37px;
	max-height: 32px;
}

.slaughter__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 9px 13px;
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
}

.slaughter__inner-btn {
	cursor: pointer;
}

.slaughter .inner-plashka {
	border-radius: 10px;
	box-shadow: inset 2px 4px 5px rgba(167, 115, 97, 0.5);
	width: 87%;
	margin: 0 auto;
}

.slaughter__btn {
	position: relative;
	display: flex;
	justify-content: center;
	width: 87%;
	margin: 0 auto;
	margin-top: 19px;
	text-align: center;
	padding: 5px 0 2px 0;
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
}

.slaughter__coin {
	position: absolute;
	left: -10px;
	top: -9px;
	width: 48px;
	height: 51px;
}

.collected__img {
	display: block;
	margin: 0 auto;
}

.buy-plashka {
	text-align: center;
}

.additional__desc {
	font-weight: 900;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
	text-align: center;
}

.buy__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 0;
	font-weight: 900;
	font-size: 20px;
	line-height: 27px;
}

.buy__btn img {
	width: 19px;
	height: 21px;
	margin: 0 5px 0 15px;
}

.speed .buy__btn img {
	width: 27px;
	height: 24px;
}

.plashka__cost {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	cursor: pointer;
	padding: 5px 0 2px 0;
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
}

.plashka__cost::after {
	content: '';
	background-image: url('../img/Иконки/coin.png');
	width: 48px;
	height: 51px;
	position: absolute;
	left: -8px;
	top: -9px;
}

.plashka-tabs {
	display: flex;
	justify-content: center;
}

.plashka-tab {
	background: #CFA978;
	box-shadow: 0px 0px 2px rgba(135, 82, 64, 0.2), inset -1px -1px 4px rgba(0, 0, 0, 0.2), inset 0px 3px 5px rgba(253, 245, 230, 0.3);
	border-radius: 20px 20px 0px 0px;
	cursor: pointer;
	margin: 0 7px;
	font-weight: 800;
	font-size: 24px;
	line-height: 33px;
	min-width: 120px;
	min-height: 50px;
	text-align: center;
	padding: 15px 0 10px 0;
	position: relative;
}

.plashka-tab span {
	display: block;
	margin-top: 7px;
	padding: 0 15px;
	display: block;
}

.plashka-tab.active {
	background: #FCEAC8;
	box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.2), inset 3px 3px 5px rgba(253, 245, 230, 0.5);
	border-radius: 20px 20px 0px 0px;
}

.occupancy-btn {
	position: relative;
	cursor: pointer;
	width: 34px;
	height: 34px;
	background: #FFBF00;
	border: 1px solid #DB8300;
	box-shadow: inset 1px 3px 7px rgba(255, 255, 255, 0.5);
	background-image: url('../img/Иконки/button-arrow.png');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
	margin-left: 14px;
}

.locked {
	background: #F2D297;
	border-radius: 20px;
	background-image: url('../img/01.06.2022/locked.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin: 10px;
	box-sizing: border-box;
}

.default {
	border-radius: 20px;
	background-color: #408DD7;
	box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.25);
	color: white;
}

.invisible {
	display: none;
}
